body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f6f6f6;
}

#title {
  color: darkblue;
}

#output {
  margin-top: 20px;
  padding: 10px;
  background: white;
  border-radius: 8px;
}
